---

---

<script>
  // FUNCIONALIDAD DESPLEGAR MENÚ DE MÓVILES
  const btnAbrir = document.querySelector('.btn-moviles');  // Cambié el nombre para mayor claridad
  const seccionMoviles = document.querySelector('#seccion-menu-moviles');

  btnAbrir.addEventListener('click', () => {
    seccionMoviles.classList.remove('hidden');
    seccionMoviles.classList.add('block');
  });

  // FUNCIONALIDAD CERRAR MENÚ MÓVILES
  const btnCerrar = document.querySelector('.btn-cerrar');
  btnCerrar.addEventListener('click', () => {
    seccionMoviles.classList.remove('block');
    seccionMoviles.classList.add('hidden');
  });
</script>


<body>
  <!-- HEADER PRINCIPAL SIN MENU DE MOVILES --> 
  <div
    class="relative flex items-center justify-center md:grid md:grid-cols-3 md:justify-center md:items-center p-4 linear-gradient( #0128b5, #00229d, #0027b2, #010c86)"
  >
    <div class="logo flex justify-start items-center gap-48 md:px-4">
      <img src="logo.png" alt="Logo" class="w-11 h-11" />
      <section class="md:hidden">
        <button class="btn-moviles"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            ><path
              fill="none"
              stroke="#ffffff"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2.5"
              d="M3 6h18M3 12h18M3 18h18"></path></svg
          ></button
        >
      </section>
    </div>

    <!-- MENU PARA PC  -->
    <div class="menu hidden md:block">
      <ul class="flex justify-center text-white">
        <li><a href="#home" class="px-4 py-2">Home</a></li>
        <li><a href="#about" class="px-4 py-2">About</a></li>
        <li><a href="#contacto" class="px-4 py-2">Contacto</a></li>
      </ul>
    </div>

    <!-- REDES SOCIALES HEADER PRINCIPAL -->
    <div class="redes-sociales hidden md:flex md:justify-end md:px-4">
      <a
        href="https://www.linkedin.com/school/u-tad/"
        type="button"
        class="m-1 h-9 w-9 rounded-full border-2 border-white uppercase leading-normal text-white transition duration-150 ease-in-out hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="mx-auto h-full w-4"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z"
          ></path>
        </svg>
      </a>

      <a
        href="https://www.instagram.com/u_tad/?hl=es"
        type="button"
        class="m-1 h-9 w-9 rounded-full border-2 border-white uppercase leading-normal text-white transition duration-150 ease-in-out hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="mx-auto h-full w-4"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z"
          ></path>
        </svg>
      </a>

      <a
        href="https://twitter.com/U_tad"
        type="button"
        class="m-1 h-9 w-9 rounded-full border-2 border-white uppercase leading-normal text-white transition duration-150 ease-in-out hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="mx-auto h-full w-4"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"
          ></path>
        </svg>
      </a>
    </div>

    <!-- MENU DESPLEGABLE RESPONSIVE -->
    <section id="seccion-menu-moviles"
      class="h-screen w-[95%] absolute top-0 -right-0 rounded-lg hidden border-2 border-black text-white p-4"
      style="background-image: linear-gradient( #010c86, #00229d, #0027b2, #0128b5);"
    >
      <!-- LOGO UTAD EN MENU DESPLEGABLE -->
      <article class="flex justify-between mb-5">
        <img src="logo.png" alt="Logo" class="w-7 h-7" />

        <button class="btn-cerrar"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            ><g fill="none"
              ><path
                d="M24 0v24H0V0h24ZM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018Zm.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022Zm-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01l-.184-.092Z"
              ></path><path
                fill="#ffffff"
                d="M12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12S6.477 2 12 2Zm0 2a8 8 0 1 0 0 16a8 8 0 0 0 0-16ZM9.879 8.464L12 10.586l2.121-2.122a1 1 0 1 1 1.415 1.415l-2.122 2.12l2.122 2.122a1 1 0 0 1-1.415 1.415L12 13.414l-2.121 2.122a1 1 0 0 1-1.415-1.415L10.586 12L8.465 9.879a1 1 0 0 1 1.414-1.415Z"
              ></path></g
            ></svg
          ></button
        >
      </article>

      <!-- ICONOS Y TEXTOS EN MENU DESPLEGABLE -->
      <ul>
        <article class="flex items-center gap-1 mb-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#ffffff" d="M4 21V9l8-6l8 6v12h-6v-7h-4v7H4Z"/></svg>
          <li>Home</li>
        </article>
        <article class="flex items-center gap-1 mb-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none"><circle cx="12" cy="12" r="10" stroke="#ffffff" stroke-width="1.5"/><path stroke="#ffffff" stroke-linecap="round" stroke-width="1.5" d="M10.125 8.875a1.875 1.875 0 1 1 2.828 1.615c-.475.281-.953.708-.953 1.26V13"/><circle cx="12" cy="16" r="1" fill="#ffffff"/></g></svg>
        <li>About</li>
        </article>

        <article class="flex items-center gap-1 ">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#ffffff" d="M12 14q.825 0 1.413-.588T14 12q0-.825-.588-1.413T12 10q-.825 0-1.413.588T10 12q0 .825.588 1.413T12 14Zm-4 4h8v-.575q0-.6-.325-1.1t-.9-.75q-.65-.275-1.338-.425T12 15q-.75 0-1.438.15t-1.337.425q-.575.25-.9.75T8 17.425V18Zm10 4H6q-.825 0-1.413-.588T4 20V4q0-.825.588-1.413T6 2h8l6 6v12q0 .825-.588 1.413T18 22Zm0-2V8.85L13.15 4H6v16h12ZM6 20V4v16Z"/></svg>
        <li>Contacto</li>
      </ul>
    </article>
    </section>
  </div>
</body>
