---
import Footer from './Footer.astro';
import Header from './Header.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="" style="background-image: linear-gradient(#3e67ff, #002fd7, #0027b4, #001f8e, #010b7b, #010967 );">
		<slot />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: 'Geist Black';
		src: url('/../../../node_modules/geist/dist/fonts/geist-sans/Geist-Black.woff2');
	}

	.geist-black {
		font-family: 'Geist Black', sans-serif;
	}

	@font-face {
		font-family: 'Geist Bold';
		src: url('/../../../node_modules/geist/dist/fonts/geist-sans/Geist-Bold.woff2');
	}

	.geist-bold {
		font-family: 'Geist Bold', sans-serif;
	}

	@font-face {
		font-family: 'Geist ExtraBold';
		src: url('/../../../node_modules/geist/dist/fonts/geist-sans/Geist-ExtraBold.woff2');
	}

	.geist-extrabold {
		font-family: 'Geist ExtraBold', sans-serif;
	}

	@font-face {
		font-family: 'Geist ExtraLight';
		src: url('/../../../node_modules/geist/dist/fonts/geist-sans/Geist-ExtraLight.woff2');
	}

	.geist-extralight {
		font-family: 'Geist ExtraLight', sans-serif;
	}

	@font-face {
		font-family: 'Geist Light';
		src: url('/../../../node_modules/geist/dist/fonts/geist-sans/Geist-Light.woff2');
	}

	.geist-light {
		font-family: 'Geist Light', sans-serif;
	}

	@font-face {
		font-family: 'Geist Medium';
		src: url('/../../../node_modules/geist/dist/fonts/geist-sans/Geist-Medium.woff2');
	}

	.geist-medium {
		font-family: 'Geist Medium', sans-serif;
	}

	@font-face {
		font-family: 'Geist Regular';
		src: url('/../../../node_modules/geist/dist/fonts/geist-sans/Geist-Regular.woff2');
	}

	.geist-regular {
		font-family: 'Geist Regular', sans-serif;
	}
</style>
